body {
	background-image: url("../images/space.jpg");
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color: #000000;
	font-family: 'SaniTrixieSansRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #000000;
}

table, th, td {
	padding: 4px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

#div1, #div2, #div3 {
    float: left;
    width: 35px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

div.header {
	background-color: #111111;
	width: 60%;
	height: 70px;
	margin: 0 auto;
}

div.footer {
	background-color: #111111;
	width: 60%;
	height: 70px;
	margin: 0 auto;
}

div.centerbox {
	background: rgb(255,255,255); /*IE compatibility*/
	background: rgba(255,255,255,.8);
    width: 60%;
	margin: 0px auto;
	padding-top: 20px;
}

div.container {
	padding-left: 70px;
	padding-right: 70px;
}

div.polaroid {
	display: inline-block;
    width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroidtext {
    text-align: center;
	padding-bottom: 5px;
}