body {
	text-align: left;
}

table, th, td {
	padding: 4px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

#div1, #div2, #div3 {
    float: left;
    width: 35px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}